<form method="post" action='/'>
  <label>Todo
    <input type="text" name="todos">
    <input type="submit" value="Put it on tha list">
  </label>
</form>

<h1>Here's all the things to do:</h1>
<ul>
  <% @todos.all.each do |todo|  %>
<li> <%= todo.item %> </li>
<% end %>
</ul>